.waterCard {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 9.3125rem;
	height: 4.625rem;
	border-radius: 1rem;
	background-color: var(--main-white);
	padding: 1.125rem 0.875rem;
	margin-bottom: 1.5rem;
	column-gap: 0.625rem;
}
.waterglass {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: transparent;
	min-width: 38px;
}
.waterInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
	flex-grow: 1;
}
.volume {
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 100%;
	text-wrap: nowrap;
}
.time {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 100%;
	text-wrap: nowrap;
}
.waterButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	width: 0.875rem;
	height: 100%;
}
.button {
	background-color: transparent;
	border: 0px;
	padding: 0;
	width: 0.875rem;
}
.waterButtonSvg {
	stroke: var(--main-text);
}

@media screen and (min-width: 768px) {
	.waterCard {
		min-width: 12rem;
		height: 5.375rem;
		padding: 1.25rem;
		margin-bottom: 1.5rem;
		column-gap: 1.25rem;
	}

	.waterglass {
		transform: scale(1.158);
	}

	.volume {
		font-weight: 700;
		font-size: 0.9375rem;
		line-height: 149%;
	}
	.time {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 187%;
	}
	.waterButtons {
		width: 1rem;
	}
	.button {
		width: 1rem;
	}
	.waterButtonSvg {
		transform: scale(1.143);
	}
}
