.userPanelContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.userName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
}

.userPanelTitle {
  font-family: 'Gilroy', sans-serif;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .userPanelContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
    align-items: center;
    margin-bottom: 40px;
  }

  .userPanelTitle {
    justify-content: flex-start;
    font-weight: 400;
    font-size: 36px;
    line-height: 106%;
  }

  .userName {
    font-weight: 700;
    overflow: hidden;
    margin-right: 2px;
  }
}
