.userPanelContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .userPanelContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-bottom: 49px;
  }
}
.userPanelTitle {
  font-family: 'Gilroy', sans-serif;
  display: flex;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
  max-width: 270px;
}
@media screen and (min-width: 768px) {
  .userPanelTitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 106%;
  }
  .userPanelTitle span {
    font-weight: 700;
    overflow: hidden;
    margin-right: 2px;
  }
}
.userPanelTitle span {
  overflow: hidden;
  font-weight: 700;
}
.userPanelContainerBtn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .userPanelContainerBtn {
    align-items: flex-end;
  }
}

.userPanelBtn {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  gap: 8px;
  outline: none;
  border-radius: 30px;
  min-width: 137px;
  border: none;
  background-color: #323f47;
}
@media screen and (min-width: 768px) {
  .userPanelBtn {
    /* max-width: 157px;
    width: 157px; */
    max-width: 220px;
  }
}
.userPanelBtn img {
  border-radius: 100%;
  width: 38px;
  height: 38px;
  max-width: none;
  /* background-color: #323f47; */
}
.userPanelBtnIcon {
  width: 16px;
  height: 16px;
}
.userPanelBtn span {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .userPanelBtn img {
    width: 44px;
    height: 44px;
    /* background-color: #323f47; */
  }
  .userPanelBtnIcon {
    width: 20px;
    height: 20px;
  }
  .userPanelBtn span {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}
.userPopoverContainer {
  position: absolute;
  top: 54px;
  max-width: 137px;
  max-height: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  padding: 14px 20px;
  gap: 8px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .userPopoverContainer {
    top: 64px;
    max-width: 157px;
  }
}
.userPopoverBtn {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 137px;
  background-color: inherit;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 149%;
  color: #323f47;
  border: none;
  transition: all 250ms;
}
@media screen and (min-width: 768px) {
  .userPopoverBtn {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 157px;
    background-color: inherit;
    outline: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 149%;
    color: #323f47;
    border: none;
    transition: all 250ms;
  }
}
.userPopoverBtn:hover {
  color: #87d28d;
  stroke: #87d28d;
  fill: #87d28d;
}
.userPopoverBtnIcon {
  width: 16px;
  height: 16px;
  stroke: #323f47;
  /* fill: rgba(50, 63, 71, 0.4); */
}
.userPopoverBtn:hover .userPopoverBtnIcon {
  stroke: #87d28d !important;
  fill: #87d28d;
}
