.list {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	column-gap: 0.5rem;
	overflow-x: auto;
	overflow-y: hidden;
}
.list::-webkit-scrollbar {
	height: 0.5rem;
	border-radius: 0.56rem;
}

.list::-webkit-scrollbar-track {
	background-color: var(--main-white);
	border-radius: 0.56rem;
}

.list::-webkit-scrollbar-thumb {
	background-color: var(--main-text);
	border-radius: 0.56rem;
}
