.contBtn {
  position: absolute;
  top: 82%;
  left: 54%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background-color: var(--main-text);
  cursor: pointer;
}

.btn {
  background-color: var(--main-text);
  border: none;
  display: contents;
}

.icon {
  fill: var(--main-white);
  stroke: var(--main-white);
  margin-right: 8px;
}

.textBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-white);
  background-color: var(--main-text);
}

.contBtn:hover .icon,
.contBtn:hover .textBtn,
.contBtn:focus .icon,
.contBtn:focus .textBtn {
  stroke: var(--accent-color);
  color: var(--accent-color);
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .contBtn {
    position: absolute;
    top: 76%;
    left: 70%;

    padding: 18px 30px;
    width: 178px;
    height: 60px;
  }
  .btn {
    background-color: var(--main-text);
    border: none;
    display: contents;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 7px;
  }

  .textBtn {
    font-size: 16px;
    line-height: 150%;

    color: var(--main-white);
    background-color: var(--main-text);
  }
}

/*Desktop*/
@media only screen and (min-width: 1440px) {
  .contBtn {
    position: absolute;
    top: 81%;
    left: 68%;
  }
}
