.modalOpen {
  overflow: hidden;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  width: fit-content;
  border-radius: 15px;
  background-color: var(--main-white);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  max-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.modalCloseButton:hover .iconClose {
  stroke: var(--accent-color);
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--main-text);
}

@media only screen and (min-width: 768px) {
  .iconClose {
    width: 28px;
    height: 28px;
  }
}
