.modalOpen {
  overflow: hidden;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  width: fit-content;
  border-radius: 15px;
  background-color: var(--main-white);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  min-width: 288px;
  max-width: 340px;
  width: calc(100% - 32px);
}

@media only screen and (min-width: 768px) {
  .modalContent {
    max-width: 100%;
    width: fit-content;
  }
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.modalCloseButton:hover .iconClose {
  stroke: var(--accent-color);
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--main-text);
}

@media only screen and (min-width: 768px) {
  .iconClose {
    width: 28px;
    height: 28px;
  }
}

.devOverlay {
  height: 100%;
  display: flex;
  align-items: first baseline;
  overflow-y: scroll;
}

.devModal {
  margin-left: 5px;
  background-color: #d3f6d3;
  background-image: linear-gradient(
      to bottom,
      rgba(215, 245, 234, 0.7),
      rgba(133, 243, 188, 0.4)
    ),
    url('../../assets/images/devBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
}

@media screen and (min-width: 768px) {
  .devModal > button {
    right: 40px;
    top: 40px;
  }
}

@media (min-resolution: 192dpi) {
  .devModal {
    background-image: url('../../assets/images/devBackgroundx2.png');
  }
}

.settingModal {
  height: 100%;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .settingModal {
    padding-right: 16px;
    max-height: 1336px;
  }
}

.settingModal > button {
  display: none;
}

@media (min-width: 1440px) {
  .settingOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settingModal {
    max-height: 1000px;
  }
}
