.cardButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.625rem;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0px;
  border: 0px;
}

.cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--accent-color);
  border-radius: 50%;
  stroke: var(--main-text);
  transition-property: background-color, stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.cardButton:hover .cardIcon,
.cardButton:focus .cardIcon {
  background-color: var(--main-text);
  stroke: var(--main-white);
}

.cardButtonTitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
}
