.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1.125rem;
  row-gap: 1.25rem;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 6 * 18px) / 7);
  gap: 6px;
}
@media screen and (min-width: 768px) {
  .list {
    gap: 15px 48px;
  }
  .item {
    width: calc((100% - 7 * 48px) / 8);
  }
}
@media screen and (min-width: 1440px) {
  .list {
    gap: 15px 43px;
  }
  .item {
    width: calc((100% - 7 * 43px) / 8);
  }
}
