/* .settingsModal {
  padding: 40px;
  position: relative;
  top: 64px;
   transform: translate(0, 64px); 
  margin: 0 auto;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 15px;
} */

.settingsTitle {
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.01em;
  color: #323f47;
}
.settingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* .settingsModal {
  padding: 40px;
  margin: 0 auto;
  max-width: 920px;
  width: 90%; /* Додано для адаптації на маленьких екранах 
  max-height: 996px;
  height: 996px; /* Встановлено максимальну висоту для модального вікна 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 64px); /* Центрування модального вікна 
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden; /* Забезпечте, щоб вміст не виходив за межі модального вікна 
} */

/* .settingForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  overflow-y: auto; 
  max-height: 916px;
  overflow-y: auto;
  max-height: calc(996px - 80px); 
} */
.settingsAvatarContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.settingsAvatarImage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1px solid #323f47;
}
.settingsAvatarLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  transition: all 250ms;
}
.settingsAvatarLabel:hover {
  color: #6e6e6e;
}
.settingsAvatarLabel:active {
  transform: scale(1.03);
}
.iconUpload {
  width: 20px;
  height: 21px;
  fill: #2f2f2f;
}
.iconUpload:hover {
  fill: #6e6e6e;
}
.settingsAvatarInput {
}
.settingsFormContent {
  /* width: 840px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .settingForm {
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1440px) {
  .settingsFormContent {
    /* width: 840px; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 40px;
  }
}
.settingsFormData {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}
.settingsGenders {
}
.settingsGenderTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  margin-bottom: 14px;
}
.settingsGenderInputs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.settingsGenderInput {
}
.settingsGender {
}
.settingsGender input[type='radio'] {
  display: none; /* Приховати оригінальні радіокнопки */
}

.settingsGenderText {
  position: relative;
  font-family: Poppins;
  display: flex;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .settingsGenderText {
    font-size: 16px;
    line-height: 150%;
  }
}
/* Стилі для кастомної радіокнопки */
.settingsGenderText::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #97e5b5; /* Колір рамки радіокнопки */
  border-radius: 50%;
  background: #fff; /* Колір фону радіокнопки */
}

/* Стилі для активної радіокнопки */
.settingsGender input[type='radio']:checked + .settingsGenderText::before {
  border: 2px solid #9be1a0; /* Колір рамки активної радіокнопки */
}

.settingsGender input[type='radio']:checked + .settingsGenderText::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9be1a0; /* Колір точки в центрі активної радіокнопки */
}
.settingsUser {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .settingsUser {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    max-width: 400px;
  }
}
.settingsUserLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.settingsUserTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
@media screen and (min-width: 768px) {
  .settingsUserTitle {
    font-size: 18px;
    line-height: 133%;
  }
}
.settingsUserText {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  padding: 14px 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .settingsUserText {
    font-size: 16px;
    line-height: 150%;
    padding: 16px 16px;
  }
}
.settingsUserText:focus {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
}
.settingsUserText:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
  border-radius: 15px;
}
.settingsDailyNorma {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.settingsDailyNormaTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
@media screen and (min-width: 768px) {
  .settingsDailyNormaTitle {
    font-size: 18px;
    line-height: 133%;
  }
}
.settingsDailyNormaEquations {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .settingsDailyNormaEquations {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .settingsDailyNormaEquations {
    display: flex;
    justify-content: flex-start;
  }
}
.settingsDailyNormaEquation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .settingsDailyNormaEquation {
    font-size: 16px;
    line-height: 150%;
  }
}
.settingsDailyNormaEquation span {
  font-weight: 700;
  color: #9be1a0;
}
.settingsDailyNormaContent {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}
@media screen and (min-width: 768px) {
  .settingsDailyNormaContent {
    font-size: 16px;
    line-height: 150%;
  }
}
@media screen and (min-width: 1440px) {
  .settingsDailyNormaContent {
    max-width: 400px;
  }
}
.settingsDailyNormaContent span {
  color: #9be1a0;
}
.settingsDailyNormaText {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .settingsDailyNormaText {
    font-size: 16px;
    line-height: 150%;
  }
}
.settingsParams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
@media screen and (min-width: 1440px) {
  .settingsParams {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 86px;
    gap: 24px;
  }
}
.settingsUserParams {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 14px;
}
.settingsParam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.settingsParamTitle {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .settingsParamTitle {
    font-size: 16px;
    line-height: 150%;
  }
}
.settingsParamText {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  padding: 14px 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .settingsParamText {
    font-size: 16px;
    line-height: 150%;
    padding: 16px 16px;
  }
}
.settingsParamText:focus {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
}
.settingsParamText:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
  border-radius: 15px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settingsLitersParams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}
.settingsLitersRequired {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .settingsLitersRequired {
    font-size: 16px;
    line-height: 150%;
  }
}
.settingsLitersRequired span {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #9be1a0;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .settingsLitersRequired span {
    font-size: 16px;
    line-height: 150%;
    display: inline;
  }
}
.settingsLiters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.settingsLitersTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
@media screen and (min-width: 768px) {
  .settingsLitersTitle {
    font-size: 18px;
    line-height: 133%;
  }
}
.settingsLitersText {
}
.settingsLitersText {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  padding: 14px 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .settingsLitersText {
    font-size: 16px;
    line-height: 150%;
    padding: 16px 16px;
  }
}
.settingsLitersText:focus {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
}
.settingsLitersText:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
  border-radius: 15px;
}
.settingsButton {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #323f47;
  align-self: flex-start;
  padding: 14px 40px;
  border: none;
  background-color: #9be1a0;
  border-radius: 30px;
  transition: all 250ms;
}
@media screen and (min-width: 768px) {
  .settingsButton {
    padding: 16px 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}
.settingsButton:hover {
  background-color: #87d28d;
}
.settingsButton:active {
  background-color: #e6e6e6;
}

@media screen and (min-width: 768px) {
  .listCalendar {
    gap: 15px 48px;
  }
  .itemCalendar {
    width: calc((100% - 7 * 48px) / 8);
  }
}
@media screen and (min-width: 1440px) {
  .listCalendar {
    gap: 15px 43px;
  }
  .itemCalendar {
    width: calc((100% - 7 * 43px) / 8);
  }
}
