.settingsWrapper {
  padding: 40px 20px;
  margin: 0;
  max-width: 343px;
  /* height: 996px; */
  /* transform: translate(0, 64px); */
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 15px;
  /* overflow-y: auto; */
  /* margin-top: 64px; */
}
/* .settingsTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #323f47;
} */
/* .settingsModal {
  padding: 40px;
  position: relative;
  top: 64px;
   transform: translate(0, 64px); 
  margin: 0 auto;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 15px;
} */
.settingsModal {
  /* overflow-y: scroll; */
}
.settingsTitle {
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.01em;
  color: #323f47;
}
.settingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* .settingsModal {
  padding: 40px;
  margin: 0 auto;
  max-width: 920px;
  width: 90%; /* Додано для адаптації на маленьких екранах 
  max-height: 996px;
  height: 996px; /* Встановлено максимальну висоту для модального вікна 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 64px); /* Центрування модального вікна 
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden; /* Забезпечте, щоб вміст не виходив за межі модального вікна 
} */

/* .settingForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  overflow-y: auto; 
  max-height: 916px;
  overflow-y: auto;
  max-height: calc(996px - 80px); 
} */
.settingsAvatarContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.settingsAvatarImage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1px solid #323f47;
}
.settingsAvatarLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  transition: all 250ms;
}
.settingsAvatarLabel:hover {
  color: #6e6e6e;
}
.settingsAvatarLabel:active {
  transform: scale(1.03);
}
.iconUpload {
  width: 20px;
  height: 21px;
  fill: #2f2f2f;
}
.iconUpload:hover {
  fill: #6e6e6e;
}
.settingsAvatarInput {
}
.settingsFormContent {
  /* width: 840px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.settingsFormData {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}
.settingsGenders {
}
.settingsGenderTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  margin-bottom: 14px;
}
.settingsGenderInputs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.settingsGenderInput {
}
.settingsGender {
}
.settingsGender input[type='radio'] {
  display: none; /* Приховати оригінальні радіокнопки */
}

.settingsGenderText {
  position: relative;
  font-family: Poppins;
  display: flex;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

/* Стилі для кастомної радіокнопки */
.settingsGenderText::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #97e5b5; /* Колір рамки радіокнопки */
  border-radius: 50%;
  background: #fff; /* Колір фону радіокнопки */
}

/* Стилі для активної радіокнопки */
.settingsGender input[type='radio']:checked + .settingsGenderText::before {
  border: 2px solid #9be1a0; /* Колір рамки активної радіокнопки */
}

.settingsGender input[type='radio']:checked + .settingsGenderText::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9be1a0; /* Колір точки в центрі активної радіокнопки */
}
.settingsUser {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  width: 100%;
}
.settingsUserLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.settingsUserTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
.settingsUserText {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  padding: 14px 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}
.settingsUserText:focus {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
}
.settingsUserText:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
  border-radius: 15px;
}
.settingsDailyNorma {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}
.settingsDailyNormaTitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
.settingsDailyNormaEquations {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.settingsDailyNormaEquation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
.settingsDailyNormaEquation span {
  font-weight: 700;
  color: #9be1a0;
}
.settingsDailyNormaContent {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}
.settingsDailyNormaContent span {
  color: #9be1a0;
}
.settingsParams {
}

.settingsWeight {
}
.settingsWeightTitle {
}
.settingsWeightText {
}

.settingsTime {
}
.settingsTimeTitle {
}
.settingsTimeText {
}
.settingsLiters {
}
.settingsLitersTitle {
}
.settingsLitersText {
}

.settingsButton {
}
