.logoFont {
  color: var(--main-text);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .logoFont {
    font-size: 24px;
    margin-top: 0;
  }
}
