.navigation {
  display: flex;
  gap: 12px;
}

.headerLink {
  display: flex;
  padding: 10px 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  transition: all 0.3s;
}

.headerLink:hover {
  color: yellowgreen;
  background-color: white;
  border: 1px solid yellowgreen;
}

.active {
  color: yellowgreen;
  background-color: white;
  border: 1px solid yellowgreen;
}
