.advantages_main {
  background-image: url('../../assets//images//png/girl_with_bottle_1x_mobile.png');
  /* margin-top: 16px; */
  /* margin-bottom: 16px; */


  border-radius: 30px;
  background-color: var(--background-color);

  width: 343px;
  max-width: 100%;
  height: 353px;
  padding: 209px 16px 32px;
  background-image: url('../../assets//images//png/girl_with_bottle_1x_mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;
}

@media only screen and (min-resolution: 192dpi) {
  .advantages_main {
    background-image: url('../../assets//images//png/girl_with_bottle_2x_mobile.png');
  }
}

.advantages_users {
  max-width: 155px;
  background-color: var(--main-white);
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
  padding: 10px 14px;
  border-radius: 30px;
}

.advantages_usersImg {
  display: flex;
}

.user {
  width: 26.4px;
  height: 28px;
  border-radius: 50%;
  top: 10px;
  left: 14px;
  gap: 0;
  background-size: cover;
  background-position: center;
}

.user1 {
  background-image: url('../../assets/images/png/customer-1.png');
}

.user2 {
  background-image: url('../../assets/images/png/customer-2.png');
}

.user3 {
  background-image: url('../../assets/images/png/customer-3.png');
}

@media only screen and (min-resolution: 192dpi) {
  .user1 {
    background-image: url('../../assets/images/png/customer-1@2x.png');
  }

  .user2 {
    background-image: url('../../assets/images/png/customer-2@2x.png');
  }

  .user3 {
    background-image: url('../../assets/images/png/customer3@2x.png');
  }
}

.advantages_point {
  width: 26.4px;
  height: 28px;
  position: relative;
  border-color: var(--main-white);
}

.advantages_point:nth-child(1) {
  z-index: 3;
}

.advantages_point:nth-child(2) {
  z-index: 2;
}

.advantages_point:not(:first-child) {
  margin-left: -10px;
}

.advantagesText {
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  color: var(--main-text);
}

.textSpan {
  color: var(--accent-color);
}

.advantagesGroup_habits {
  margin-left: 138px;
}

.advantagesTabs {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.advantages_habits {
  padding: 9px 12px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.ellipse {
  border-radius: 50%;
  background-color: var(--accent-color);
  width: 8px;
  height: 8px;
}

.advantages_habits>p {
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
}

.advantages_habits:nth-child(1) {
  background: var(--main-text);
  color: var(--main-white);
}

.advantages_habits:nth-child(2) {
  background: var(--accent-color);
  color: var(--main-text);
}

.advantages_habits:nth-child(3) {
  background: var(--main-white);
  color: #323f47;
}

@media only screen and (min-width: 768px) {
  .advantages_main {
    background-image: url('../../assets//images/png/girl_with_bottle_1x_tablet.png');
    border-radius: 30px;
    width: 704px;
    max-width: 100%;
    height: 446px;

    padding: 283px 32px 32px;
    /* margin-bottom: 32px; */
  }

  .user1 {
    background-image: url('../../assets/images/png/customertablet-1.png');
    width: 47px;
    height: 47px;
  }

  .user2 {
    background-image: url('../../assets/images/png/customertablet-2.png');
    width: 47px;
    height: 47px;
  }

  .user3 {
    background-image: url('../../assets/images/png/customertablet-3.png');
    width: 47px;
    height: 47px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .user1 {
      background-image: url('../../assets/images/png/customertablet-1@2x.png');
    }

    .user2 {
      background-image: url('../../assets/images/png/customertablet-2@2x.png');
    }

    .user3 {
      background-image: url('../../assets/images/png/customertablet-3@2x.png');
    }

    @media only screen and (min-resolution: 192dpi) {
      .advantages_main {
        background-image: url('../../assets//images//png/girl_with_bottle_2x_tablet.png');
      }
    }
  }

  .advantages_users {
    /* max-width: 197px; */
    max-width: 235px;
    padding: 10px 20px;
    margin-bottom: -14px;
  }

  .advantages_point {
    width: 47px;
    height: 47px;
  }

  .advantages_point:not(:first-child) {
    margin-left: -19px;
  }

  .advantagesText {
    font-size: 15px;
    line-height: 150%;
  }

  .advantagesGroup_habits {
    margin-left: 395px;
  }

  .advantagesTabs {
    gap: 10px;
  }

  .advantages_habits {
    padding: 11px 16px;
  }

  .advantages_habits>p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .advantages_main {
    background-image: url('../../assets//images/png/girl_with_bottle_1x_desktop.png');
    padding: 537px 32px 132px;
    /* margin-top: 16px; */
    width: 672px;
    height: 736px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .advantages_main {
      background-image: url('../../assets//images//png/girl_with_bottle_2x_desktop.png');
    }
  }

  .advantagesGroup_habits {
    margin-left: 355px;
  }

  .user1 {
    background-image: url('../../assets/images/png/customerbig-1.png');
    width: 47px;
    height: 47px;
  }

  .user2 {
    background-image: url('../../assets/images/png/customerbig-2.png');
    width: 47px;
    height: 47px;
  }

  .user3 {
    background-image: url('../../assets/images/png/customerbig-3.png');
    width: 47px;
    height: 47px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .user1 {
      background-image: url('../../assets/images/png/customerbig-1@2x.png');
    }

    .user2 {
      background-image: url('../../assets/images/png/customerbig-2@2x.png');
    }

    .user3 {
      background-image: url('../../assets/images/png/customerbig-3@2x.png');
    }
  }
}