.count_Users {
    max-width: 155px;
    background-color: var(--main-white);
    gap: 4px;
    margin-bottom: 8px;
    padding: 10px 14px;
    border-radius: 30px;
    margin-top: -45px;
}

.count_Text {
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    color: var(--main-text);
}

.textSpan {
    color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
    .count_Users {
        max-width: 235px;
        padding: 10px 20px;

        width: 100%;
    }


    .count_Text {
        font-size: 15px;
        line-height: 150%;
    }
}