.generalSignInForm {
    padding: 0 16px;
    border: 1px solid blue;
}

@media only screen and (min-width: 768px) {
    .generalSignInForm {
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .generalSignInForm {
        display: flex;
        padding: 0 32px;
        gap: 32px;

    }
}

@media only screen and (max-width: 1439px) {
    .AdvantagesSection_plus {
        display: none;
        width: 672px;
        height: 736px;
    }
}