.trackContainerItem {
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  min-width: 288px;
  max-width: 343px;
  height: 415px;
  background-color: var(--accent-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/images/png/transparent_bottle_for_water_1x_mobile.png');
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: 288px 343px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}
@media only screen and (min-width: 768px) {
  .topContainer {
    margin-bottom: 101px;
  }
}

.tour {
  margin-bottom: 5px;
  background-color: transparent;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid var(--background-color);
  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.tour:hover,
.tour:focus {
  border: 1px solid var(--second-text);
  background-color: var(--background-color);
}

.highlighted-mask {
  border-radius: 10px !important;
}

@media (min-resolution: 192dpi) {
  .trackContainerItem {
    background-image: url('../../assets/images/png/transparent_bottle_for_water_2x_mobile.png');
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .trackContainerItem {
    border-radius: 30px;
    width: 704px;
    max-width: 100%;
    height: 578px;
    padding: 32px;
    background-image: url('../../assets/images/png/transparent_bottle_for_water_1x_tablet.png');
    background-size: 374px 477px;
  }

  @media (min-resolution: 192dpi) {
    .trackContainerItem {
      background-image: url('../../assets/images/png/transparent_bottle_for_water_2x_tablet.png');
    }
  }
}

/*Desktop*/
@media only screen and (min-width: 1440px) {
  .trackContainerItem {
    border-radius: 30px;
    width: 672px;
    height: 736px;
    margin: 0;
    background-image: url('../../assets/images/png/transparent_bottle_for_water_1x_desktop.png');
    background-size: 472px 604px;
  }

  @media (min-resolution: 192dpi) {
    .trackContainerItem {
      background-image: url('../../assets/images/png/transparent_bottle_for_water_2x_desktop.png');
    }
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

/*AddWaterMainInfo*/
.contBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background-color: var(--main-text);
  cursor: pointer;
  border: none;
  transition-property: color, stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.contBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  stroke: var(--main-white);
  stroke-width: 1.7;
  stroke-linecap: round;
  margin-right: 6px;
  transform: scale(1.42);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.textBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  text-wrap: nowrap;
  color: var(--main-white);
  background-color: var(--main-text);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.contBtn:hover .icon,
.contBtn:hover .textBtn,
.contBtn:focus .icon,
.contBtn:focus .textBtn {
  stroke: var(--accent-color);
  color: var(--accent-color);
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .contBtn {
    padding: 18px 30px;
    width: 178px;
    height: 60px;
  }

  .icon {
    transform: scale(1.42);
    margin-right: 7px;
  }

  .textBtn {
    font-size: 16px;
    line-height: 150%;

    color: var(--main-white);
    background-color: var(--main-text);
  }
}
