.loginContainer {
  position: relative;
  border-radius: 30px;
  padding: 0 16px;
  background-color: var(--background-color);
  max-width: 343px;
  min-width: 288px;
  width: 100%;
  height: 780px;
}

.formContainer {
  padding-top: 212px;
  padding-bottom: 150px;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 32px;
  color: var(--main-text);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--second-text);
  margin-bottom: 8px;
  margin-top: 8px;
}

.input_field {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  position: relative;
}

.input {
  padding: 16px;
  border-radius: 15px;
  border: 1px solid #2f2f2f33;
  opacity: 0px;
  outline: none;
  background-color: var(--background-color);
}

.icon_eye,
.eyeIconOff {
  fill: none;
  stroke: var(--second-text);
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
}

.input::placeholder {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #2f2f2f99;
}

.input:focus {
  border: 1px solid var(--accent-color);
  color: inherit;
  transition: all 300ms ease-in-out;
}

.button {
  height: 50px;
  border-radius: 30px;
  border: none;
  color: var(--main-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: var(--accent-color);
  margin-top: 16px;
  cursor: pointer;
  opacity: 0px;
  transition: all 300ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #87d28d;
  color: #ffffff;
}

.description {
  color: #2f2f2f80;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
}

.link {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--second-text);
}

.errors {
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ef5050;

  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
}

.error {
  border-color: #ef5050;
  color: #ef5050;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    padding: 32px;
    max-width: 100%;
    width: 704px;
    height: 960px;
  }

  .formContainer {
    padding: 261px 110px 236px;
  }

  .form {
    margin-bottom: 20px;
  }

  .title {
    font-size: 36px;
    line-height: 38px;
  }

  .label {
    font-size: 16px;
    line-height: 24px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .button {
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
  }

  .link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .loginContainer {
    padding: 32px;
    width: 672px;
    height: 736px;
    border-radius: 30px;
    background-color: var(--background-color);
  }

  .formContainer {
    padding: 90px 110px 117px;
  }
}
