.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 32px;
}

.dateInfo {
  display: flex;
  margin: 0;
  /* width: 124px; */
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  color: var(--main-text);
}

.button {
  display: flex;
  border: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: var(--main-text);
}

.icon {
  stroke: #323f47;
}

.activeIcon {
  stroke: #a9a9a9;
}

@media only screen and (min-width: 768px) {
  .dateInfo {
    width: 140px;
    font-size: 16px;
    line-height: 24px;
  }
}
