.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 32px;
}

.dateInfo {
  display: flex;
  margin: 0;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  color: var(--main-text);
}

.button {
  display: flex;
  border: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  stroke: #323f47;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.icon:hover,
.icon:focus {
  transform: scale(1.2);
}

.activeIcon {
  stroke: #a9a9a9;
}

@media only screen and (min-width: 768px) {
  .dateInfo {
    width: 140px;
    font-size: 16px;
    line-height: 24px;
  }
}
