.settingModal {
  margin-top: 80px;
}

/* .settingModal > button {
  z-index: 1005;
} */

.settingsWrapper {
  margin: 0;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 40px 7px 20px 20px;
  max-width: 335px;
  min-width: 280px;
  width: 100%;
}

.settingsScroll {
  scroll-padding-left: 7px;
  scrollbar-color: inherit;
  position: relative;
}
.settingsScroll::-webkit-scrollbar-button {
  display: none;
}
.settingsScroll::-webkit-scrollbar {
  width: 60px;
  background-color: var(--main-white);
  border-radius: 30px;
}
.settingsScroll::-webkit-scrollbar-track {
  background-color: var(--main-white);
  border-radius: 30px;
}
.settingsScroll::-webkit-scrollbar-track {
  background: #962626;
  border-radius: 0;
}
.settingsScroll::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .settingsWrapper {
    padding: 40px 16px 40px 40px;
    margin: 0;
    max-width: 100%;
    width: 648px;
  }
  .settingsScroll {
    scroll-padding-left: 16px;
  }
  .settingsScroll::-webkit-scrollbar {
    width: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .settingsWrapper {
    width: 920px;
  }
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  height: 60px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #f0eff4; /* Цвет ползунка */
  border-radius: 6px; /* Скругление углов ползунка */
  border: 3px solid #f0eff4;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: ease; /* Цвет и ширина рамки ползунка, используйте цвет вашего модального окна */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a7ab;
  border: 3px solid #a8a7ab;
}

.settingsTitle {
  margin-bottom: 20px;
  max-width: 120px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #323f47;
}

@media screen and (min-width: 768px) {
  .settingsTitle {
    font-size: 28px;
    line-height: 114%;
  }
}
