.settingOverlay {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .settingOverlay {
    padding-top: 64px;
  }
}

.settingModal {
  height: 100%;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .settingModal {
    padding-right: 16px;
  }
}

.settingModal > button {
  display: none;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  margin-bottom: 20px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .topContainer {
    height: 30px;
  }
}

.modalCloseButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.modalCloseButton:hover .iconClose {
  stroke: var(--accent-color);
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--main-text);
}

@media only screen and (min-width: 768px) {
  .iconClose {
    width: 28px;
    height: 28px;
  }
}

.settingsTitle {
  margin-bottom: 20px;
  max-width: 120px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #323f47;
}

@media screen and (min-width: 768px) {
  .settingsTitle {
    font-size: 28px;
    line-height: 114%;
  }
}

.settingsWrapper {
  margin: 0;
  background-color: var(--main-white);
  padding: 20px 4px 20px 20px;
  max-width: 340px;
  min-width: 288px;
  width: 100%;
  border-radius: 15px;
  height: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .settingsWrapper {
    padding: 40px 16px 40px 40px;
    margin: 0;
    max-width: 100%;
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .settingsWrapper {
    width: 920px;
  }
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  height: 60px;
  width: 6px;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}

.settingsWrapper::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 6px;
  margin: 84px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .settingsWrapper::-webkit-scrollbar-track {
    margin: 92px 0 40px 0;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #f0eff4;
  border-radius: 6px;
  border: 3px solid #f0eff4;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a7ab;
  border: 3px solid #a8a7ab;
}
