.wrapper {
  background-color: var(--background-color);
  color: var(--main-text);
  max-width: 303px;
  height: 348px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1%;
  color: var(--main-text);
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  padding: 0;
  border-color: transparent;
}

.icon {
  display: flex;
  width: 20px;
  height: 24px;
  margin-left: 12px;
  stroke: #A9A9A9;

}

.activeIcon {
  display: flex;
  width: 20px;
  height: 24px;
  margin-left: 12px;
  stroke: var(--main-text);
}

.icon:hover,
.icon:focus,
.activeIcon:hover,
.activeIcon:focus {
  transition: transform 0.25s;
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {

  .wrapper {
      max-width: 640px;
      height: 361px;
    }

  .header {
    width: 100%;
    height: 32px;
  }

  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
  }

  .icon {
    width: 24px;
    height: 28px;
    margin-left: 20px;
  }

  .activeIcon {
    width: 24px;
    height: 28px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1440px) {

  .wrapper {
      width: 608px;
      height: 361px;
  }
}

