.loginContainer {
    border-radius: 30px;
    padding: 16px;
    background-color: var(--background-color);
    max-width: 343px;
    min-width: 288px;
    width: 100%;
    height: 770px;
}

.formContainer {
    padding: 172px 0 192px;

}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 32px;
    color: var(--main-text);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}

.label {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--second-text);
    margin-bottom: 8px;
}

.input_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;

}

.input {
    padding: 16px;
    border-radius: 15px;
    border: 1px solid #2f2f2f33;
    opacity: 0px;
    outline: none;
    background-color: var(--background-color);
}

.icon_eye,
.eyeIconOff {
    fill: none;
    stroke: var(--second-text);
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
}

.input::placeholder {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: -0.01em;
    color: #2f2f2f99;
}

.input:focus {
    border: 1px solid var(--accent-color);
    color: inherit;
}

.button {
    height: 50px;
    border-radius: 30px;
    border: none;
    color: var(--main-text);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    background-color: var(--accent-color);
    margin-top: 16px;
    cursor: pointer;
    opacity: 0px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background: var(--accent-color)
}

.description {
    color: #2f2f2f80;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: center;
}

.link {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: var(--second-text);
}

.errors {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #ef5050;
}

.error {
    border-color: #ef5050;
    color: #ef5050;

}

@media screen and (min-width: 768px) {
    .loginContainer {
        padding: 32px;
        max-width: 100%;
        width: 704px;
        height: 960px;
    }

    .formContainer {
        padding: 171px 102px 249px;
    }

    .title {
        font-size: 36px;
        line-height: 38px;
    }

    .label {
        font-size: 16px;
        line-height: 24px;
    }

    .input::placeholder {
        font-size: 16px;
        line-height: 24px;
    }

    .button {
        font-size: 16px;
        line-height: 24px;
    }

    .description {
        font-size: 16px;
        line-height: 24px;
    }

    .link {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .loginContainer {
        padding: 32px;
        width: 672px;
        height: 736px;
        border-radius: 30px;
        background-color: var(--background-color);
    }

    .formContainer {
        padding: 70px 85px 15px;
    }
}

/* .loginContainer {
    border-radius: 30px;
    padding: 16px;
    background-color: var(--background-color);
    max-width: 343px;
    min-width: 288px;
    width: 100%;
    height: 770px;
}

.formContainer {
    padding: 172px 0 192px;

}

.signUpFields {
    margin: 32px 0 0 0;
}

.signUpFormInput {
    display: flex;
    flex-direction: column;
    height: 76px;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .signUpFormInput {
        height: 88px;
        margin-bottom: 20px;
        position: relative;
    }
}

.fieldText {
    font-size: 14px;
    font-family: 'Poppins-bold', sans-serif;
    line-height: 18px;
    letter-spacing: -0.01em;
}

@media (min-width: 768px) {
    .fieldText {
        font-size: 16px;
        line-height: 24px;
    }
}

.inputField {
    height: 50px;
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.2);
    outline: none;
    padding: 16px;
    background-color: transparent;
    margin-top: 8px;
}

@media (min-width: 768px) {
    .inputField {
        height: 56px;
        padding: 16px 52px 16px 16px;
    }
}

.eyeIcon {
    fill: transparent;
    stroke: #2f2f2f;
}

.togglePasswordBtn {
    background: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: none;
    padding: 0 0 0 0;
}

@media (min-width: 768px) {
    .togglePasswordBtn {
        position: absolute;
        top: 57%;
        right: 16px;
        display: unset;
    }
}

.signUpBtn {
    height: 50px;
    width: 100%;
    background-color: #9be1a0;
    border: transparent;
    border-radius: 30px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-family: 'Poppins-bold', sans-serif;
    color: #323f47;
}

@media (min-width: 768px) {
    .signUpBtn {
        height: 60px;
        margin-top: 12px;
        font-size: 16px;
        line-height: 24px;
    }
}

.signUpBtn:hover {
    background-color: #87d28d;
}

.errMessage {
    color: #ef5050;
    font-size: 14px;
    line-height: 18px;
}

.inputFieldError {
    border: 1px solid #ef5050;
    color: #ef5050;
}

.inputFieldRepeatPasswordError {
    border: 1px solid #ef5050;
    color: #ef5050;
}

.inputFieldActivated {
    border: 1px solid rgba(47, 47, 47, 0.4);
} */