.wrapper {
  background-color: var(--background-color);
  color: var(--main-text);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    margin-bottom: 4.5rem;
  }
}
