.wrapper {
	background-color: var(--background-color);
	color: var(--main-text);
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.25rem;
	margin-bottom: 2.5rem;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

/* .cardTitle {
	font-size: 1.5rem;
	font-weight: bold;
} */

.cardButton {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 0.625rem;
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 0px;
	border: 0px;
	/* 
    transition: all 0.3s; */
}
.cardIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: var(--accent-color);
	border-radius: 50%;
	fill: var(--main-text);
	stroke: var(--main-text);
}
