:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;

  --main-text: #323f47;
  --second-text: #2f2f2f;
  --accent-color: #9be1a0;
  --background-color: #f0eff4;
  --main-white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  /* color: currentColor; */
  color: blue;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

section {
  padding: 8px 16px;
  min-width: 320px;
  width: 375px;
  margin: 0 auto;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 8px 32px;
    min-width: 100%;
    width: 768px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  section {
    padding: 32px;
    width: 1440px;
  }
}

.is-hidden {
  display: none;
}
