.generalHomePage {
    padding: 0 16px;
    min-width: 320px;
    max-width: 375px;
    width: 100%;
    border: 1px solid blue;
}

@media only screen and (min-width: 768px) {
    .generalHomePage {
        padding: 0 32px;
        width: 768px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .generalHomePage {
        display: flex;
        width: 1440px;
        gap: 32px;
    }
}