.contDailyNorma {
  position: absolute;
  top: 26%;
  left: 4%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 15px;
  padding: 12px;
  width: 102px;
  height: 54px;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--main-white);
}
.dailyNorma {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--main);
}
.textDailyNorma {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .contDailyNorma {
    position: absolute;
    top: 26%;
    left: 5%;
    padding: 14px 18px;
    width: 129px;
    height: 78px;
  }
  .dailyNorma {
    font-weight: 700;
    font-size: 15px;
    line-height: 149%;
    /* color: var(--main);; */
  }
  .textDailyNorma {
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 187%;
    /* color: rgba(47, 47, 47, 0.6); */
  }
}

/*Desktop*/
@media only screen and (min-width: 1440px) {
  .contDailyNorma {
    position: absolute;
    top: 19%;
    left: 10%;
    .dailyNorma {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 15px;
      line-height: 149%;
      color: var(--main);
    }
    .textDailyNorma {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 187%;
      color: rgba(47, 47, 47, 0.6);
    }
  }
}
